nav,
ul {
	background: red;
	display: flex;
}
nav {
    width: 100%;
	align-items: center;
	justify-content: center;
}

li {
	list-style: none;
	align-self: center;
	margin: auto 0.5rem;
	padding: auto 0.5rem;
	cursor: pointer;
}
li.disabled,
li.active {
	cursor: not-allowed;
}
